---
# Used for post message action
post_message_action:
  webhook_url: "https://hooks.slack.com/services/<replace me>"
  channel: "<DST_CHANNEL>"
  username: "<SLACKBOT_NAME>"

# Used for Slack sensor
sensor:
  token: ""
  strip_formatting: false

action_token: "<SLACKBOT_TOKEN>"
admin:
  admin_token: ""
  organization: ""
  set_active: true
  attempts: 1
  auto_join_channels:
    - "<DST_CHANNEL>"